body {
	color: #F9F9F9;
	background-color: #373F51;
	padding: 0px;
	margin: 0px;
	font-family: "minecraft";
	text-align: center;
	text-size: 40px;
}

@font-face {
	font-family: minecraft;
	src: url("./scientifica.ttf")
}

a {
	color: #E15554;
	text-decoration: none;
}

#content {
	margin: 0px;
	margin-top: 0px;
	font-size: 20px;
}

img {
	border-radius: 15px;
	width:300px;
	height:300px;
}

#header {
	padding: 16px;
	font-size: 25px;
}
